@use 'breakpoints' as media;
@import 'variables';

.home {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 2rem 0;
    }

    &__gridContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1130px;
        padding: 1rem;
    }

    &__grid {
        flex: 1;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        gap: 1rem;
    }
    
    &__loadMoreRecipeButtonContainer {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
}

@include media.sm {
    .homePage__grid {
        grid-template-columns: 350px;
        grid-auto-columns: 350px;
    }
}

@include media.md {
    .homePage__grid {
        grid-template-columns: repeat(2, 350px);
        grid-auto-columns: repeat(2, 350px);
    }
}

@include media.xl {
    .homePage__grid {
        grid-template-columns: repeat(3, 350px);
        grid-auto-columns: repeat(3, 350px);
    }
}
