@import 'variables';

.adminRecipesNav {
    ul {
        display: flex;
        gap: 1rem;
    }

    a {
        transition: 0.3s ease-in-out;

        &.active {
            color: $color-primary;
        }
    }
}
